<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <br>

 <div class="row mar-bot40">
 
   <div class="col-lg-6" >
    <div class="list-group" id="listaCategoria">
     </div>
  </div>

  <div class="col-lg-6" >
    <label for="usr">Categoria Selecionada</label>
    <input type="text" class="form-control" disabled id="categoriaproduto">
  </div>

</div>

 <hr>
 
 <div class="row mar-bot40">
   <div class="col-lg-12" >
     <%= f.label :nome %><br>
     <%= f.text_field :nome, :class => 'form-control' %>
  </div>
 </div>

 <div class="row mar-bot40">
   <div class="col-lg-12" >
    <%= f.label :titulo_anuncio %><br>
    <%= f.text_field :tituloanuncio, :class => 'form-control' %>
  </div>
 </div>
 
 <div class="row mar-bot40">  
  <div class="col-lg-3" >
    <%= f.label :preco_varejo %><br>
    <%= f.text_field :precovarejo, :class => 'form-control' %>
  </div>
   <div class="col-lg-3" >
    <%= f.label :preco_atacado %><br>
    <%= f.text_field :precoatacado, :class => 'form-control' %>
  </div>
  <div class="col-lg-3" >
    <%= f.label :Quatidade_atacado %><br>
    <%= f.number_field :qtd_atacado, :class => 'form-control' %>
  </div>
  
  </div>
  
  <div class="row mar-bot40">
   <div class="col-lg-12">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, :class => 'form-control' %>
   </div>
  </div>

 <hr>

<div class="row">  
  <div class="col-lg-12">
    <h4>Adicione as fotos do produto</h4>
  <div id="fotoproduto">
    <%= f.fields_for :fotoproduto do |item| %>
      <%= render 'fotoproduto_fields', :f => item %>
     <% end %>
      <div class='links'>
      <br>
        <%= link_to_add_association 'Adicionar nova foto', f, :fotoproduto, :class => "btn btn-default" %>
      </div>
   </div>

  </div>
 </div>


<%= f.hidden_field :empresa_id, :value => current_user.empresa_id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :categoriaproduto_id%>


<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  
   function carrega_categoria(id,nome){


    $("#categoriaproduto").val(nome);
    $("#produto_categoriaproduto_id").val(id);

     $.ajax({
          url: '<%= buscacategoria_path %>',
          data : {
            father_id : id
          },
          success: function(data){
             $("#listaCategoria").empty();

             $( "#listaCategoria" ).append( "<button type='button' onclick='carrega_categoria()' class='list-group-item active'>Categorias</button>");

            for (var i in data) {
              var item = data[i];
                $( "#listaCategoria" ).append('<button type="button" onclick="carrega_categoria('+item.id+', \'' + item.nome + '\')" class="list-group-item">'+item.nome+'</button>');
             };
          }
        })
    }

carrega_categoria();


    $(function() {
     $("#produto_precovarejo").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
     $("#produto_precoatacado").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  })

</script>