<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-body">

<h3>Lista Produtos</h3>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Atacado</th>
      <th>Varejo</th>
      <th>Qtd Atacado</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.precoatacado %></td>
        <td><%= produto.precovarejo %></td>
        <td><%= produto.qtd_atacado %></td>
        <td><%= produto.categoriaproduto.nome %></td>

          <td align='right'> 
              <%= link_to produto, class: "btn btn-default btn-sm" do %>
                <span style="color:green" class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>             
            <%= link_to edit_produto_path(produto), class: "btn btn-default btn-sm" do %>
              <span style="color:blue" class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>
            <%= link_to produto, method: :delete, data: { confirm: 'Deseja excluir o registro?' }, class: "btn btn-default btn-sm" do %>
                    <span  style="color:red"  class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>                  
          </td> 

      </tr>
    <% end %>
  
    <% if @produtos.empty?%>
    <tr>
       <td colspan="5"><h4 style="font-style: italic">Nenhum produto cadastrado.</h4></td>
     </tr>
    <%end%>
  
  </tbody>
</table>
</div>

<br>

  </div>
</div>
 <%= link_to new_produto_path, class: "btn btn-default btn-sm" do %>
      <span style="color:green" class="glyphicon glyphicon-plus"></span> Novo
  <% end %>
