
<div class="row">

<br>
 <% @produtos.each do |produto| %>
  <div class="col-sm-5 col-md-3">
    <div class="thumbnail">
    <%for foto in produto.fotoproduto %>
      <img src="<%=foto.imagem.url(:medium)%>" alt="...">
      <%break%>
    <%end%>
      <div class="caption">
        <h5 style="color:#4d7592">         
          <a href="/showproduto/<%=produto.id%>"><%=produto.nome%></a>
        </h5>

        <p><%#=produto.tituloanuncio%></p>
        Atacado: <label style="font-size:19px"><strong style="color:#F70"><%=number_to_currency(produto.precoatacado, unit: "R$", separator: ",", delimiter: "")%></strong></label><br>
        Varejo: <label style="font-size:19px"><strong style="color:#F70"><%=number_to_currency(produto.precovarejo, unit: "R$", separator: ",", delimiter: "")%></label></strong>
      </div>
    </div>
  </div>
<%end%>

</div>

<style media="screen">

a:hover, a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background:transparent; 
  
  }
  .thumbnail {
    border-width:2px;
  }

  .thumbnail:hover {
      border-style:solid;
      border-color:#9db8cc;
  }

  .thumbnail > img, .thumbnail a > img {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100px;
    height: 100px;

}
</style>
