<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mar-bot40">
      <div class="col-lg-12" >
    <%= f.label :nome_empresa %><br>
    <%= f.text_field :nome, :class => 'form-control' %>
  </div>
</div>

 <div class="row mar-bot40">
      <div class="col-lg-12" >
    <%= f.label :cnpj %><br>
    <%= f.text_field :cnpj, :class => 'form-control' %>
  </div>
  </div> 
 <div class="row mar-bot40">
    <div class="col-lg-12" >
    <%= f.label :centro_comercial_id %><br>
    <%= f.text_field :centroscomercial_id, :class => 'form-control' %>
   </div>
  </div>

  <div class="row mar-bot40">
    <div class="col-lg-12" >
    <%= f.label :informacao %><br>
    <%= f.text_area :informacao, :class => 'form-control' %>
   </div>
  </div>
  
  <div class="row mar-bot40">
    <div class="col-lg-12" >
    <%= f.label :frase_da_empresa %><br>
    <%= f.text_field :fraseempresa, :class => 'form-control' %>
    </div>
  </div>


   <%= f.fields_for :endereco do |enderecos| %>
          <div class="row mar-bot40">
           <div class="col-lg-12">
               <%= enderecos.label :Endereco %><br>
               <%= enderecos.text_field :endereco, :class => 'form-control' %>
             </div>
          </div>
          <br>
        <div class="row mar-bot40">
            <div class="col-lg-2">
             <%= enderecos.label :numero %><br>
             <%= enderecos.text_field :numero, :class => 'form-control' %>
           </div>
          <div class="col-lg-3">
             <%= enderecos.label :CEP %><br>
             <%= enderecos.text_field :cep, :class => 'form-control' %>
           </div>
        </div>

        <div class="row mar-bot40">
           <div class="col-lg-12">
             <%= enderecos.label :Complemento %><br>
             <%= enderecos.text_field :complemento, :class => 'form-control' %>
           </div>
         </div>

       
       <br>
       <div class="row mar-bot40">
         <%=  fields_for :estado do |estado| %>
             <div class="col-lg-6">
               <%= estado.label :Estado %><br>
               <%= estado.select :estado_id, options_from_collection_for_select(Estado.all, 'id', 'nome_estado',@estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
             </div>
         <%end%>
         <%if @vk_cidade %>
               <div class="col-lg-6">
                 <%= enderecos.label :Cidade %>
                 <%= enderecos.select :cidade_id, options_from_collection_for_select(@cidade, 'id', 'nome_cidade',@cidade_setada),{}, :class => 'form-control'%>
               </div>
         <%else%>
         <div class="col-lg-6">
                 <%= enderecos.label :Cidade %><br>
                 <%= enderecos.select :cidade_id, [], {}, :class => 'form-control'%>
         </div>
           <%end%>
          </div>
          <div class="row mar-bot40">
            <div class="col-lg-6">
              <%= enderecos.label :Latitude %><br>
              <%= enderecos.text_field :latitude, :class => 'form-control' %>
            </div>
            <div class="col-lg-6">
              <%= enderecos.label :Longitude %><br>
              <%= enderecos.text_field :longitude, :class => 'form-control' %>
            </div>
          </div>
         <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  
    function changeState(state){
        $.ajax({
          url: '<%= listarCidade_path %>',
          data : {id : state.value},
          success: function(data){
            $('#empresa_endereco_attributes_cidade_id').empty();
            $('#empresa_endereco_attributes_cidade_id').html('<option>Carregando...</option>');
            $('#empresa_endereco_attributes_cidade_id').attr('disabled', 'disabled');
            var options = "";
            for (var i in data) {
              var item = data[i];
              options += "<option value='"+item.id+"'>"+item.nome+"</option>"
            };

            $('#empresa_endereco_attributes_cidade_id').html(options);
            $('#empresa_endereco_attributes_cidade_id').removeAttr('disabled');
          }
        })
      }

</script>