<div class="navbar navbar-default navbar-fixed-top"  role="navigation" id="slide-nav">
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </a>
    <a class="navbar-brand" href="<%=root_path%>"></a>
   </div>
   <div id="slidemenu">

          <!--<form class="navbar-form navbar-right"  role="form">
            <div class="form-group">
              <input type="search" placeholder="search" class="form-control">
            </div>
            <button type="submit"  class="btn btn-primary">Buscar</button>
          </form> -->

    <ul class="nav navbar-nav">
        <% @categoriaProduto = Categoriaproduto.all%>
                 <li class="dropdown"><a href="#" id="dLabel" class="dropdown-toggle" data-toggle="dropdown">Produtos <span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                         <% @categoriaProduto.each do |categoria| %>
                       <%if categoria.father_id == nil%>
                               <li class="dropdown-submenu">
                                 <a tabindex="-1" href="javascript:Pesquisar(<%=categoria.id%>);"><%=categoria.nome%></a>
                                 <ul class="dropdown-menu">
                                   <%@catmenu = Categoriaproduto.where(father_id: categoria.id)%>
                                 <%@catmenu.each do | menu|%>
                                    <li><a href="javascript:Pesquisar(<%=menu.id%>);"><%=menu.nome%></a></li>
                               <%end%>
                             </ul>
                          </li>
                       <%end%>
                     <%end%>
                 </ul>
          </li>
      </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete%></li>
      <%end%>
      <li class="dropdown">
        <% if user_signed_in? %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
        <%end%>
      </li>
    </ui>

   </div>
  </div>
 </div>


<style type="text/css">
  
 .navbar-default{
    background-color: #4d7592;
    border: 0;
 }


.navbar-default .navbar-nav > li > a {
    color: #d8d8d8;
    font: 14px verdana, arial, helvetiva, sans-serif;
}

.navbar-default .navbar-toggle {
    border-color: #334d60;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #334d60;
}
</style>