<!DOCTYPE html>
<html>
<head>
  <title>Melhor Vitrine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="ISO-8859-1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render'layouts/menu' %>

<div class="container side-collapse-container">
  <%= yield %>
</div>
<!-- 
   <div class="row"> <!-- 3 + 6 + 3 = 12 -->
<!-- 	    <div class="col-md-3"> 
         	<%#= render 'layouts/menuPesquisa' %>
	    </div> -->
	 <!--    <div class="col-md-12"> 
	    	 <#%= yield %>
	     </div>
	</div> -->
</body>
</html>
