<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @centroscomercial.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @centroscomercial.cidade %>
</p>

<%= link_to 'Edit', edit_centroscomercial_path(@centroscomercial) %> |
<%= link_to 'Back', centroscomercials_path %>
